li {
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    -webkit-backdrop-filter: blur(8px);
}

#flagsandwarns {
    background-color: black;
}

.modal {

    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: .25rem !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 3px 20px rgba(230, 230, 250, 0.1) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px);
}