.seen-by {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
    z-index: 10;
}

.glass-card:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.glass-card {
    transition: transform 0.3s ease;
}


.seen-by-title {
    font-size: 0.8rem;
    color: #d3dae1;
    margin-right: 15px;
    white-space: nowrap;
}

.list-group-item {
    position: relative;
    cursor: pointer;
}

.list-group-item a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
}

.unread {
    border-left: 5px solid rgba(0, 0, 255, 0.57) !important;
}

.read {
    border-left: 5px solid rgba(86, 86, 86, 0.57) !important;
}

.abgelehnt {
    border-left: 5px solid rgba(255, 0, 0, 0.57) !important;
}

.vorgemerkt {
    border-left: 5px solid rgba(255, 255, 0, 0.57) !important;
}

.angenommen {
    border-left: 5px solid rgba(0, 255, 0, 0.57) !important;
}

@media (max-width: 768px) {
    .seen-by {
        position: static;
        margin-top: 10px;
        justify-content: flex-end;
    }

    .seenby-title {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.search-bar-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-bar-input {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    padding: 8px;
    color: white;
    border: 1px solid #0071ff;
    border-radius: 5px;
    width: 60%;
}

.search-bar-input:focus {
    outline: none;
    border: 1px solid #0071ff;
    box-shadow: 0 0 5px rgba(0, 113, 255, 0.5);
}

.search-bar-button {
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    padding-right: 15px;
    cursor: pointer;
}

.search-bar-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.search-bar-button i {
    font-size: 1.2rem;
}