/* Apply some general styles to the body and container */

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}



/* Style the color input */
input[type="color"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the range input */
input[type="range"] {
    width: 100%;
}

/* Style the select input */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the image previews */
img.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Style the buttons */
button.btn {
    width: 100%;
    margin-top: 10px;
}

/* Add some margin to the top spinner */
.spinner-border {
    margin-top: 10px;
}
