body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.dashboard-logs {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.wrap-text {
    word-wrap: break-word;
    white-space: normal;
}

table thead th {
    background-color: #333;
    color: #ffffff;
    text-align: left;
    padding: 10px;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
    background-color: #171717;
}


@media (max-width: 600px) {
    .dashboard-logs {
        padding: 10px;
    }
    
    table thead th {
        padding: 5px;
        zoom: 0.8;
    }
}