@page "/konfiguration/applysystem/manageapplicationpositions"
@using AGC_Management.Entities
@attribute [Authorize(Roles = "BotOwner, Administrator, HeadModerator")]
<h3>ManageApplicationPositions</h3>

<!-- Verwalten der Bewerbungspositionen (add, modify, remove) per button maybe?-->

<!-- Tabelle mit allen Bewerbungspositionen -->
<table class="table">
    <thead>
    <tr>
        <th>Position Name</th>
        <th>Position ID</th>
        <th>Is Applicable</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var applicationPosition in applicationPositions)
    {
        <tr>
            <td>@applicationPosition.PositionName</td>
            <td>@applicationPosition.PositionId</td>
            <td>@applicationPosition.IsApplicable</td>
        </tr>
    }
    </tbody>
</table>

<!-- Button zum hinzufügen einer neuen Bewerbungsposition -->
<button class="btn btn-primary">Add Application Position</button>

<!-- Button zum entfernen einer Bewerbungsposition -->
<button class="btn btn-danger">Remove Application Position</button>

<!-- Button zum bearbeiten einer Bewerbungsposition -->
<button class="btn btn-warning">Modify Application Position</button>


@code {
    private List<ApplicationPosition> applicationPositions = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadApplicationPositions();
    }


    private async Task LoadApplicationPositions()
    {
        var con = CurrentApplication.ServiceProvider.GetRequiredService<NpgsqlDataSource>();
        await using var cmd = con.CreateCommand("SELECT * FROM applicationcategories");
        await using var reader = await cmd.ExecuteReaderAsync();
        var list = new List<ApplicationPosition>();
        while (await reader.ReadAsync())
        {
            list.Add(new ApplicationPosition
            {
                PositionName = reader.GetString(0),
                PositionId = reader.GetString(1),
                IsApplicable = reader.GetBoolean(2)
            });
        }

        applicationPositions = list;
    }

}