:root {
    --background: #121212;

    --font: "gg-sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dezoom {
    transform: scale(0.9);
    margin-top: -8vh;
}

.btn-link {
    text-decoration: none!important;
}

discord-inline-code {
    background: #2c2d2f !important;
}

discord-embed-description > discord-inline-code,
discord-embed-field > discord-inline-code {
    background: #1f1f21 !important;
}

body > p {
    font-family: var(--font);
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--background) !important;
}

body {
    background-color: inherit;

    margin: 0;
    padding: 0;

    height: 100%;

    overflow-x: hidden;
}

.gray {
    color: #c4c4cb !important;
}

.discord-message-markup,
.discord-embed-field,
.discord-embed-description,
.discord-embed-footer {
    white-space: pre-line;
}

.discord-messages {
    /*background-color: #020202 !important;
    color: #fff;*/
    display: block;
    font-size: 16px;
    line-height: 170%;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.discord-messages,
.discord-invite-counts,
.discord-invite,
.discord-invite-info,
.discord-system-message,
.discord-message,
.discord-invite,
.discord-attachments,
.discord-replied-message {
    font-family: var(--font) !important;
}

a.discord-invite-join.external[href]::after {
    content: '' !important;
}

.discord-embed-author > a {
    color: white !important;
}

.discord-embed-author > a[href]::after {
    content: '' !important;
}

.discord-embed-title > a {
    color: #04A8FC !important;
}

.discord-embed-title > a[href]::after {
    content: '' !important;
}

a.discord-link {
    color: #04A8FC !important;
}

a.discord-link.external[href]::after {
    content: '' !important;
}

a.discord-button[href] {
    color: #fff !important;
}

a.discord-button[href]::after {
    content: '' !important;
}

*,
::before,
::after {
    box-sizing: content-box !important;
}

.discord-invite .discord-invite-badge {
    width: 16px !important;
    height: 23px !important;
}

.discord-header-text {
    flex-grow: 1;
    left: 8px !important;
    position: relative !important;
}

.discord-header {
    display: contents !important;
}