@page "/konfiguration/applysystem/modifypanelmessage"
@using AGC_Management.Services
@using AGC_Management.Enums
@using AGC_Management.ApplicationSystem
@attribute [Authorize(Roles = "BotOwner, Administrator, HeadMod")]


<script type="module" src="https://unpkg.com/@@aitsys/discord-components-core"></script>

<div class="d-flex justify-content-center">
    <div class="form-group w-75">
        <h1>Bewerbungs-Panel Nachricht bearbeiten</h1>
        <textarea class="form-control" id="panelmessage" @bind="panelmessage" @oninput="UpdatePreview" rows="20"></textarea>

        <button class="btn btn-primary mt-2 mb-2" @onclick="savePanelMessage">Speichern</button>
        <button class="btn btn-primary mt-2 mb-2" @onclick="TogglePreview">
            Vorschau anzeigen
            @if (showPreview)
            {
                <span class="badge badge-success">An</span>
            }
            else
            {
                <span class="badge badge-danger">Aus</span>
            }
        </button>

    </div>
</div>

<div class="alert alert-info mt-4 justify-content-center" role="alert">
    <h4 class="alert-heading">Hinweis</h4>
    <hr>
    <p>Die Nachricht wird im Bewerbungs-Panel angezeigt. Sie kann Markdown-Formatierungen enthalten.</p>
</div>

@if (showPreview)
{
    <!-- Warning only approximated preview -->
    <div class="alert alert-warning mt-4 justify-content-center" role="alert">
        <h4 class="alert-heading">Vorschau</h4>
        <hr>
        <p>Die Vorschau ist nur ein ungefähres Abbild des tatsächlichen Ergebnisses. Die Darstellung kann auf Discord abweichen.</p>
    </div>
    <br/>
    <div class="d-flex justify-content-center ">

        <discord-messages>
            <discord-embed style="max-width: 600px; background-color: #2C2F33; border-color: #23272A;">
                <discord-embed-title slot="title" style="color: #FFFFFF;">
                    Bewerbungs-Panel Vorschau
                </discord-embed-title>
                <discord-embed-description slot="description" style="color: #FFFFFF; padding: 8px 24px 8px 8px; white-space: pre-wrap; word-break: break-word;">
                    <div style="color: #FFFFFF;">@((MarkupString)panelmessagepreview)</div>
                </discord-embed-description>
                <discord-embed-footer slot="footer" style="color: #FFFFFF;">
                    AGC Bewerbungssystem
                </discord-embed-footer>
            </discord-embed>
        </discord-messages>
    </div>
    <br/>
}


@code {
    private string panelmessage = "";
    private string newpanelmessage = "";
    private bool showPreview;
    private string panelmessagepreview = "";


    protected override async Task OnInitializedAsync()
    {
        var dbpanelmessage = await CachingService.GetCacheValueAsBase64(CustomDatabaseCacheType.ApplicationSystemCache, "applypaneltext");
        if (dbpanelmessage != null)
        {
            panelmessage = dbpanelmessage;
            panelmessagepreview = panelmessage.ConvertMarkdownToHtml();
        }
        else
        {
            panelmessage = "";
        }
    }

    private void UpdatePreview(ChangeEventArgs e)
    {
        panelmessagepreview = e.Value.ToString().ConvertMarkdownToHtml();
        StateHasChanged();
    }

    private async Task TogglePreview()
    {
        showPreview = !showPreview;
    }

    private async Task savePanelMessage()
    {
        await CachingService.SetCacheValueAsBase64(CustomDatabaseCacheType.ApplicationSystemCache, "applypaneltext", panelmessage);
        ApplyPanelCommands.QueueRefreshPanel();
        StateHasChanged();
    }

}