.dark-glass-8 {
    background: rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.25);
}


.dark-glass-bg {
    background: rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.glass-effect-bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark-glass-16 {
    background: rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.light-glass-12 {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}


.light-blue-glass {
    background: rgba(173, 216, 230, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(173, 216, 230, 0.3);
}

.dark-red-glass {
    background: rgba(139, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(139, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(139, 0, 0, 0.25);
}


.vibrant-yellow-glass {
    background: rgba(255, 255, 0, 0.15);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(255, 255, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 0, 0.2);
}

.soft-pink-glass {
    background: rgba(255, 182, 193, 0.25);
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(255, 182, 193, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 182, 193, 0.3);
}

.deep-green-glass {
    background: rgba(0, 100, 0, 0.18);
    border-radius: 12px;
    box-shadow: 0 6px 30px rgba(0, 100, 0, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(0, 100, 0, 0.25);
}

.emerald-glass {
    background: rgba(46, 204, 113, 0.2);
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(46, 204, 113, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(46, 204, 113, 0.3);
}

.midnight-blue-glass {
    background: rgba(44, 62, 80, 0.2);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(44, 62, 80, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(44, 62, 80, 0.25);
}


.neon-pink-glass {
    background: rgba(255, 20, 147, 0.2);
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(255, 20, 147, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 20, 147, 0.3);
}


.cool-cyan-glass {
    background: rgba(0, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 255, 255, 0.2);
}


.royal-purple-glass {
    background: rgba(108, 52, 131, 0.25);
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(108, 52, 131, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(108, 52, 131, 0.3);
}


.classic-grey-glass {
    background: rgba(189, 195, 199, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(189, 195, 199, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(189, 195, 199, 0.25);
}

.soft-white-glass {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.pale-pink-glass {
    background: rgba(255, 192, 203, 0.15);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(255, 192, 203, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 192, 203, 0.2);
}

.light-lavender-glass {
    background: rgba(230, 230, 250, 0.2);
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(230, 230, 250, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(230, 230, 250, 0.25);
}


.alert-danger-glass {
    background: rgba(255, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(255, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 0, 0, 0.25);
}

.alert-success-glass {
    background: rgba(0, 128, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 128, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 128, 0, 0.25);
}

.alert-warning-glass {
    background: rgba(255, 255, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(255, 255, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 0, 0.25);
}

.alert-info-glass {
    background: rgba(0, 191, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 191, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 191, 255, 0.25);
}

.btn-secondary-glass {
    background: rgba(108, 117, 125, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(108, 117, 125, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(108, 117, 125, 0.25);
}

.glassy-input {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(159, 255, 245, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.glassy-input:focus {
    background: rgba(20, 20, 20, 0.25);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(94, 255, 241, 0.39);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.btn-primary-glass {
    background: rgba(51, 148, 255, 0.1)!important;
    border-radius: 15px!important;
    color: white!important;
    box-shadow: 0 5px 20px rgba(51, 148, 255, 0.15)!important;
    backdrop-filter: blur(15px)!important;
    -webkit-backdrop-filter: blur(15px)!important;
    border: 1px solid rgba(51, 148, 255, 0.25)!important;
}

.btn-primary-glass:hover {
    color: white!important;
    background: rgba(51, 148, 255, 0.5)!important;
    border: 1px solid rgba(0, 123, 255, 0.35)!important;
}

.btn-success-glass {
    background: rgba(40, 167, 69, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(40, 167, 69, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(40, 167, 69, 0.25);
}

.btn-danger-glass {
    background: rgba(220, 53, 69, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(220, 53, 69, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(220, 53, 69, 0.25);
}

.btn-danger-glass:hover {
    color: white;
    background: rgba(220, 53, 69, 0.47);
    border: 1px solid rgba(220, 53, 69, 0.35);
}

.badge-danger-glass {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background: rgba(227, 41, 59, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.badge-success-glass {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background: rgba(6, 252, 62, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.glass-slider {
    background: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.375rem;
}

.btn-warning-glass {
    background: rgba(255, 193, 7, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(255, 193, 7, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 193, 7, 0.25);
}

.btn-info-glass {
    background: rgba(23, 162, 184, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(23, 162, 184, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(23, 162, 184, 0.25);
}

.btn-light-glass {
    background: rgba(248, 249, 250, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(248, 249, 250, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(248, 249, 250, 0.25);
}

.btn-dark-glass {
    background: rgba(52, 58, 64, 0.2);
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 20px rgba(52, 58, 64, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(52, 58, 64, 0.25);
}
