@page "/401"
<PageTitle>401 - Unauthorized</PageTitle>
<h3>401 - Unauthorized</h3>

<p class="alert alert-danger">
    Du bist nicht berechtigt, diese Seite zu sehen. Bist du eingeloggt? Logge dich hier ein: <a href="/login">Anmelden</a>
</p>

@code {

}