@page "/401"
<PageTitle>401 - Unauthorized</PageTitle>
<h3>401 - Unauthorized</h3>

<br/>
<em class="alert alert-danger">Du musst angemeldet sein, um diese Seite zu sehen. Bitte <a href="/login">logge dich ein</a>.</em>

@code {

}