@page "/Apply"
@using System.ComponentModel.DataAnnotations
@attribute [Authorize(Roles = "BotOwner")] // Temporary... just a template too... will see

<h3>Bewerbung</h3>

<p>
    Hier kannst du dich für den Support oder als Eventmanager bewerben.
    <br>
    Bitte beachte, dass du mindestens 100 Zeichen in deiner Bewerbung schreiben musst.
</p>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <InputRadioGroup @bind-Value="model.Position" class="form-check">
            <InputRadio class="form-check-input" Value="@("Supporter")"/>Supporter
            <br/>
            <InputRadio class="form-check-input" Value="@("Eventmanager")"/>Eventmanager
        </InputRadioGroup>
    </div>

    <br>
    <div class="form-group">
        <label>Bewerbungstext</label>
        <InputTextArea @bind-Value="model.ApplicationText" class="form-control form-control-lg" rows="10"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

    public class ApplicationModel
    {
        [Required(ErrorMessage = "Bitte wähle eine Position aus.")]
        public string Position { get; set; }

        [Required(ErrorMessage = "Bitte gib einen Bewerbungstext ein.")]
        [MinLength(100, ErrorMessage = "Bitte gib mindestens 100 Zeichen ein.")]
        public string ApplicationText { get; set; }
    }

    readonly ApplicationModel model = new();

    private void HandleValidSubmit()
    {
        // print the model to the console
        Console.WriteLine($"Position: {model.Position}");
        Console.WriteLine($"ApplicationText: {model.ApplicationText}");
    }

}