@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider CustomAuthStateProvider

@page "/callback"
@using AGC_Management.Utils
@using AGC_Management.Providers
@using System.Security.Claims
<h3>Callback</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var query = HttpContextAccessor.HttpContext.Request.Query;
        var code = query["code"];

        if (code.Count > 0)
        {
            var client = CurrentApplication.OAuthClient;
            var accessToken = await client.ExchangeAccessTokenAsync(code);
            var user = await client.GetCurrentUserAsync(accessToken);
            CustomAuthStateProvider.MarkUserAsAuthenticated(user.Username, user.Id.ToString());


            NavigationManager.NavigateTo("/");
        }
    }
}
