@attribute [Authorize(Roles = "BotOwner, Administrator")]
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Context
@page "/Debug"
<PageTitle>Debug</PageTitle>

<h1>Headers</h1>
@foreach (var header in Context.HttpContext.Request.Headers)
{
    <p>@header.Key: @header.Value</p>
}

<h1>Claims</h1>
@foreach (var claim in Context.HttpContext.User.Claims)
{
    <p>@claim.Type: @claim.Value</p>
}

@code {
    
}