@page "/"
@using AGC_Management.Entities.Web
@using AGC_Management.Controller
@inject IHttpContextAccessor httpContextAccessor
@inject UserService userService
@inject NavigationManager NavigationManager


<PageTitle>Start</PageTitle>

<h1>Willkommen! @username</h1>

@code {
    private DiscordUserWebClaim claim;
    private string username = "";
    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            claim = await userService.GetInfo(httpContextAccessor.HttpContext);
            username = claim.Name;
        }
        catch (Exception)
        {
            // ignored
        }

    }

}