@page "/"
@using AGC_Management.Interfaces

@inject NavigationManager NavigationManager


<PageTitle>Start</PageTitle>

<h1>Willkommen! @userName</h1>

@if (!isAuthenticated)
{
    <br/>
    <em class="alert alert-warning">Nicht eingeloggt.</em>
}


@code {
    private bool isAuthenticated;
    private string userName;

    protected override async Task OnInitializedAsync()
    {

    }

}