@page "/Konfiguration"
@attribute [Authorize (Roles = "BotOwner, Administrator, HeadMod")]

<h1>Bot Konfiguration</h1>

<div class="card-group mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Config 1</h5>
            <a href="" class="btn btn-link">Go to Config 1</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Config 2</h5>
            <a href="" class="btn btn-link">Go to Config 2</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Config 3</h5>
            <a href="" class="btn btn-link">Go to Config 3</a>
        </div>
    </div>
</div>