@page "/Konfiguration"
@attribute [Authorize(Roles = "BotOwner, Administrator, HeadModerator")]

<h1>Administration</h1>

<!--

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="glass-card">
                <div class="card-body">
                    <h5 class="card-title">Bewerbungssystemkonfiguration</h5>
                    <AuthorizeView Roles="BotOwner, Administrator, HeadModerator">
                        <a href="/konfiguration/applysystem/modifypanelmessage" class="btn btn-primary-glass">Panel Text bearbeiten</a>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</div>

-->