.card {
    color: #e0e0e0;
    background-color: #1a1919;
}


.btn-link {
    color: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none !important;
}

.btn {
    background-color: #7b00ff;
}