@page "/managemember"
@using Microsoft.AspNetCore.WebUtilities
@using AGC_Management.Services.Web
@using AGC_Management.Interfaces
@using AGC_Management.Utils
@using AGC_Management.Enums.Web
@inject IAuthService AuthService
@inject NavigationManager NavigationManager_
@inject IAuthService AuthService_

@if (isAuthorized)
{
    <h3>Mitgliederverwaltung</h3>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Nutzerinformationen</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Nutzername: @member.Username</p>
                    <p class="card-text">Nickname: @member.Nickname</p>
                    <p class="card-text">Beigetreten am: @_joinedAt</p>
                    <p class="card-text">Erstellt am: @_createdAt</p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private string _parameter;

    private bool isAuthorized;
    private DateTime _joinedAt;
    private DateTime _createdAt;
    private DiscordMember member;

    protected override async Task OnInitializedAsync()
    {
        isAuthorized = AuthUtils.isAccessAllowed(AccessLevel.Supporter, NavigationManager_, AuthService_);
        if (!isAuthorized)
        {
            return;
        }
        var uri = new Uri(NavigationManager_.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("userid", out var param))
        {
            _parameter = param;
        }


        bool isValid = isValidUserId();
        if (!isValid)
        {
            NavigationManager_.NavigateTo("/");
        }

        member = CurrentApplication.TargetGuild.Members[ulong.Parse(_parameter)];
        _joinedAt = member.JoinedAt.UtcDateTime;
        _createdAt = member.CreationTimestamp.UtcDateTime;
    }
    


    private bool isValidUserId()
    {
        if (_parameter == null)
        {
            NavigationManager_.NavigateTo("/");
        }
        else
        {
            try
            {
                if (CurrentApplication.TargetGuild.Members.ContainsKey(ulong.Parse(_parameter)))
                {
                    return true;
                }

                NavigationManager_.NavigateTo("/");
            }
            catch (Exception)
            {
                NavigationManager_.NavigateTo("/");
            }
        }

        return false;
    }

}